@import '../variables'
@import '../mixins'   
    
.subject
    color: $light-black
    width: 100%
    border-radius: 24px
    box-shadow: 0 0 6px $box-shadow
    @include flexColumnCenter
    font-size: 18px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    &__header
        width: 100%
        padding: 16px
        @include flexCenter
        justify-content: space-between
        cursor: pointer
        line-height: 20px
        position: relative
        &_admin
            cursor: default
            -webkit-user-select: text
            -moz-user-select: text
            -ms-user-select: text
            user-select: text
        &:hover .subject__title
            color: $orange
        .subject__title
            font-weight: 500
            width: calc(100% - 140px)
            padding: 0 24px 0 48px
    &__drop-menu
        position: absolute
    &__drop
        display: none
        &_active
            display: inline
    &__lessons
        width: 100%
        display: none
        padding: 0 24px
        &_active
            @include flexColumnCenter   
    &__title
        width: calc(100% - 130px)
        padding: 0 24px
        text-indent: -24px
        line-height: 32px
        cursor: pointer
        &:hover
            color: $orange
        &_admin
            width: calc(100% - 50px)
            text-indent: 0
            cursor: text
    &__lesson
        font-size: 16px
        width: 100%
        padding: 12px 0
        border-top: 1px dashed $grey
        @include flexCenter
        justify-content: space-between
    &__test-btn
        width: 130px
        height: 32px
        font-size: 14px
    &__progress
        width: 128px
        position: relative
        color: $blue
    &__btns
        @include flexCenter
        gap: 16px
        i
            color: $light-black
            cursor: pointer
        &_edit
            &:hover
                color: $orange
        &_delete
            &:hover
                color: $red
    &__delete
        position: absolute
        z-index: 2
        width: 440px
        height: 140px
        border-radius: 16px 
        background: $white
        box-shadow: 0 0 6px $box-shadow
        padding: 0 16px
        gap: 16px
        display: none
        color: $light-black
        button
            border-color: $red
            color: $red
            &:hover
                background: $red
                color: $white
        &_active
            @include flexColumnCenter  
            justify-content: flex-end
            padding-bottom: 16px
        i
            cursor: pointer
            font-size: 20px
            position: absolute
            top: 12px
            right: 12px
            transition: all 0.2s
            &:hover
                color: $red
        
@media screen and (max-width: 576px) 
    .subject
        &__header
            flex-direction: column
            align-items: flex-start
            justify-content: center
            padding: 12px 16px
            gap: 8px
            .subject__title
                width: 100%
                padding: 0 0 0 48px
        &__title
            width: 100%
            padding: 0 0 0 24px
        &__lesson 
            flex-direction: column
            align-items: flex-start
            justify-content: center
            gap: 12px
        &__progress
            width: 100%
            padding-left: 24px
