html[data-theme='light']   
    --black: #000
    --light-black: #4c4c4c
    --blue: #384473
    --light-blue: #3f5dd3
    --grey: #717597
    --red: #cd3e3e
    --orange: #F58151
    --cloud: #EBEEFF
    --white: #FFFFFF
    --box-shadow: rgba(0, 0, 0, 0.4)

html[data-theme='dark']   
    --black: #FFFFFF
    --light-black: #ffffff
    --blue: #FFFFFF
    --grey: #FFFFFF
    --red: #cd3e3e
    --orange: #F58151
    --cloud: #1e1e1e
    --white: #1e1e1e
    --box-shadow: rgba(255, 255, 255, 0.4)